<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- home.page.html -->
    <ion-button routerLink="/camara">Abrir Cámara</ion-button>
    <ion-button routerLink="/sensores">Abrir sensores</ion-button>
    <ion-button routerLink="/radio-streaming">Abrir Radio</ion-button>
  </div>
</ion-content>
